body{
  font-size: 16px;
  color: $default;
  line-height: 30px;
  @extend %rubik-400;
}

.wrapper{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}