@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 30px;
  }
  &__list-link{
    font-size: 15px;
    @extend %rubik-500;
    color: $link;
    line-height: 15px;
    transition: all .3s;
    &:hover{
      color: #191919;
    }
  }
}
.user-nav{
  display: flex;
  width: 318px;
  justify-content: space-between;
  &__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__inner {
    display: flex;
    background-color: #fcd7b6;
    border-radius: 30px;
    padding: 0 30px;
    height: 50px;
  }
  &__link-right{
    margin-left: 28px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 34px;
      background-color: #fde7d3;
      left: -14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__num{
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 15px;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    top: 9px;
    right: 7px;
    z-index: 5;
  }
  &__link-img{
    position: relative;
    z-index: 4;
    transition: all .3s;
    &:hover{
      transform: scale(1.2);
    }
  }
  &__link-search{
    background-color: #edf1f4;
  }
  &__link-lk{
    background-color: #a3bbc8;
    transition: all .5s;
    &:hover{
      transform: rotate(180deg);
    }
  }
}
.footer-top{
  display: flex;
  justify-content: space-between;
  padding: 80px 0 70px;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    width: 200px;
  }
  &__logo{
    display: block;
    margin-bottom: 26px;
  }
  &__adress,
  &__phone,
  &__email{
    @extend %rubik-400;
    display: block;
    margin-bottom: 10px;
    transition: all .3s;
  }
  &__adress:hover,
  &__phone:hover,
  &__email:hover{
    color: #1f2044;
  }
  &__info{
    width: 170px;
  }
  &__title{
    color: #1f2044;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 15px 0 20px;
  }
  &__item-form{
    width: 270px;
  }
  &__li{
    line-height: 32px;
  }
  &__link{
    transition: all .3s;
  }
  &__link:hover{
    color: #1f2044;
  }
  &__text{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 35px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    background-color: #fef7f0;
    width: 170px;
    border: none;
    @extend %dmsans-400;
    font-size: 12px;
    padding: 12px 16px;
    line-height: 16px;
    &::placeholder{
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn{
    margin: 0;
    padding: 0;
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    padding: 0 17px;
  }
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy{
    font-size: 14px;
    line-height: 18px;
    color: $default;
    padding: 35px 0;
  }
  &__menu{
    display: flex;
    &__li + .footer-bottom__menu__li{
      margin-left: 26px;
      position: relative;
    }
    &__li::before{
      content: '';
      width: 1px;
      height: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -13px;
      background-color: $default;
    }
    &__li-first::before{
      display: none;
    }
    &__link{
      font-size: 14px;
      line-height: 18px;
      color: $default;
    }
  }
}
.top-slider{
  background-image: url(../images/ellipse.png);
  background-repeat: no-repeat;
  background-size: 630px;
  background-position: 990px center;
  
  background-color: #fcd7b6;
  padding-top: 220px;
  padding-bottom: 220px;
  position: relative;
  &__item{

  }
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    max-width: 500px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  &__text{
    max-width: 370px;
    margin-bottom: 40px;
    font-size: 18px;
    color: $link;
  }
  &__link{
    @extend %btn;
    padding: 25px 100px 25px 30px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-image: url(../images/arrow.svg);
      right: 19px;
      top: 50%;
      transform: translateY(-50%);
      height: 10px;
      width: 22px;
    }
  }
  .slick-dots{
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -170px;
    li{
      padding: 0 6px;
      button{
        padding: 0;
        font-size: 11px;
        line-height: 11px;
        width: 29px;
        height: 29px;
        @extend %rubik-500;
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
      }
      &.slick-active{
        button{
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  &__img{
    padding-top: 40px;
  }
}
.info{
  background-color: #fef7f0;
  padding: 40px 0;
  &__items{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    width: 300px;
    display: flex;
    align-items: center;
  }
  &__img{
    padding-bottom: 20px;
  }
  &__item-content{
    margin-left: 30px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__text{
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}
.info-img-wrapper{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    background-image: url(../images/icons/ellipse-info.svg);
    height: 20px;
    width: 20px;
    bottom: 10px;
    right: -5px;
    z-index: 5;
  }
}
.productsweek{
  padding: 30px 0 190px;
  &__title{
    margin-bottom: 35px;
  }
  &__filter{
    margin-bottom: 80px;
  }
  &__inner{
    display: grid;
    grid-template: repeat(2, 1fr ) / repeat(4, 1fr);
    grid-auto-flow: row dense;
    grid-template-rows: auto;
    gap: 40px;
  }
  &__item{
    width: 270px;
    padding: 30px 40px 40px 40px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    height: 380px;
    display: flex;
    background-color: #fcfcfc;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &:hover{
      .productsweek__hover-link{
        opacity: 1;
      }
    }
  }
  &__img__inner{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__img{
    display: block;
    object-fit: contain;
    max-height: 220px;
  }
  &__item__title{
    margin-top: auto;
    @extend %dmsans-500;
    color: #243f4d;
  }
  &__price{
    margin-top: 15px;
    @extend %dmsans-700;
    color: #a3bbc8;
  }
  &__hover-link{
    position: absolute;
    opacity: 0;
    transition: all .3s;
    right: 0;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
  }
  &__hover-link a + a{
    margin-left: 15px;
  }
  &__link-serch,
  &__link-heart,
  &__link-shop{
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    &:hover{
      background-color: #a3bbc8;
    }
    &:hover svg path{
      fill: #fff;
    }
  }
}
.info-product{
  margin-bottom: 60px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    background-color: #feefe2;
    max-width: 870px;
    width: 100%;
    padding-left: 400px;
    padding-right: 150px;
    position: relative;
    height: 390px;
  }
  &__img-inner{
    display: block;
    position: absolute;
    left: 140px;
    bottom: 90px;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    color: $accent;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 25px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  &__link{
    display: inline-block;
    color: #436372;
    font-size: 15px;
    line-height: 15px;
    padding: 20px 90px 20px 20px;
    background-color: transparent;
    border: 1px solid #b3b7b5;
    @extend %rubik-500;
    border-radius: 8px;
    position: relative;
    transition: all .3s;
    &:hover{
      background-color: #fff;
      transform: translateX(5px);
    }
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      height: 9px;
      width: 22px;
      transform: translateY(-50%);
      right: 19px;
      background-image: url('../images/arrow-blue.svg');
    }
  }
}
.filter__newdesign{
  margin-bottom: 80px;
}
.newdesign{
  padding-bottom: 120px;
  &__inner{
    display: grid;
    grid-template: repeat(2, 1fr ) / repeat(3, 1fr);
    grid-auto-flow: row dense;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 40px;
  }
  &__item{
    height: 246px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &__link{
    display: block;
    width: 100%;
    height: 100%;
    padding: 40px 30px 40px 30px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 24px;
    width: 172px;
    color: #191919;
    margin-bottom: 10px;
  }
  &__descr{
    @extend %dmsans-700;
    font-size: 16px;
    color: $btn;
    line-height: 18px;
  }
}
.filter__prod-new-btn{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 18px;
    color: #8b8b8b;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    transition: all .3s;
}
.filter__prod-new-btn + .filter__prod-new-btn{
  margin-left: 30px;
}
.mixitup-control-active{
  color: #191919;
}
.video-popup{
  background-color: #e6e6e6;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
  margin-bottom: 70px;
  &__popup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__img-inner{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img{
    border-radius: 50%;
    animation: pulse 1.8s infinite;
  }
  @keyframes pulse {
    0%{
      box-shadow: 0 0 0 0px rgba(163,187,200,0.5);
    }
    100%{
      box-shadow: 0 0 0 40px rgba(163,187,200,0);
    }
  }
}
.blog{ 
  background: linear-gradient(180deg, #fff 393px, #fef7f0 0%);
  &__titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 50px;
  }
  &__title-up{
    padding: 0;
  }
  &__titles-link{
    @extend %dmsans-700;
    color: #262626;
    font-size: 16px;
    line-height: 1;
    padding-right: 25px;
    position: relative;
    transition: all .3s;
    &:hover{
      border-bottom: 1px solid#262626;
      transform: translateX(-5px);
    }
    &::after{
      content: "";
      background-image: url(../images/icons/arrow-blog.svg);
      height: 12px;
      width: 6px;
      background-repeat: no-repeat;
      right: 0;
      top: 3px;
      position: absolute;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: all .3s;
    &:hover{
      transform: scale(1.03);
    }
  }
  &__item__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__img{
    display: block;
  }
  &__content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
  }
  &__title{
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 24px;
    color: #262626;
    margin-bottom: 15px;
    letter-spacing: -1px;
  }
  &__info{
    display: flex;
    padding-top: 22px;
    @extend %rubik-400;
    font-size: 12px;
    color: #222933;
    text-transform: uppercase;
    line-height: 1;
    border-top: 1px solid #e0e0e0;
  }
  &__date{
    margin-left: 28px;
  }
  &__author{
    margin-left: 46px;
  }
  &__news-text{
    @extend %poppins-700;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
    background-color: $btn;
    position: absolute;
    text-transform: uppercase;
    padding: 10px 35px;
    border-radius: 20px;
    top: -18px;
    left: 30px;
    display: none;
  }
  &__item__link.blog__news{
    .blog__news-text{
      display: inline-block;
    }
  }
}
.partners{
  background-color: #fef7f0;
  padding: 100px 0;
  &__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.breadcrumbs{
  display: flex;
  justify-content: center;
  &__wrapper{
    text-align: center;
    background-color: #edf1f4;
  }
  &__title{
    @extend %dmsans-400;
    font-size: 36px;
    color: #222933;
    line-height: 40px;
    padding: 30px 0 15px;
  }
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    padding-bottom: 30px;
    padding-right: 20px;
    position: relative;
    &::after{
      content: "/";
      position: absolute;
      font-size: 14px;
      line-height: 16px;
      color: #bbbfc3;
      right: 7px;
      top: 8px;
    }
    &:last-child{
      &::after{
        display: none;
      }
      padding-right: 0;

    }
  }
  &__link{
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 16px;
    color: #bbbfc3;
    transition: all .3s;
    &:hover{
      color: #222933;
    }
  }

}
.modal{
  padding-top: 120px;
  max-width: 470px;
  margin: 0 auto 120px;
  &__label{
    @extend %rubik-400;
    font-size: 14px;
    color: $link;
    letter-spacing: -0.4px;
    line-height: 16px;
    margin-bottom: 25px;
    display: block;
  }
  &__input{
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    padding: 0 15px;
    height: 60px;
    margin-top: 15px;
  }
  &__btn{
    display: block;
    margin-top: 35px;
    background-color: $btn;
    border: none;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 22px;
    color: #fffefe;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 2px solid #f6f6f6;
    &-label{
      @extend %rubik-400;
      font-size: 14px;
      color: $link;
      letter-spacing: -0.4px;
      line-height: 16px;
      display: block;
    }
  }
  &__link{
    @extend %rubik-400;
    font-size: 14px;
    color: $link;
    letter-spacing: -0.4px;
    line-height: 16px;
  }
  &__info{
    &-link{
      display: block;
      @extend %rubik-500;
      color: $accent;
      font-size: 18px;
      line-height: 22px;
      padding: 22px 0;
      text-align: center;
      border: 2px solid $btn;
      transition: all .3s;
      &:hover{
        background-color: $btn;
        color: #fffefe;
      }
    }
  }
  &__text{
    padding-top: 33px;
    text-align: center;
    @extend %rubik-400;
    font-size: 14px;
    color: $link;
    letter-spacing: -0.4px;
    line-height: 16px;
    margin-bottom: 26px;
  }
}
.terms-conditions{
  padding: 120px 0 10px;
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    color: $accent;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .terms-conditions__list{
    margin-bottom: 70px;
    list-style-type: decimal-leading-zero;
    @extend %rubik-400;
    color: $accent;
    font-size: 16px;
    line-height: 30px;
    padding-left: 32px;
  }
  &__item{
    margin-bottom: 15px;
    letter-spacing: -0.4px;
  }
  &__text{
    @extend %rubik-400;
    color: $accent;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 60px;
  }
}
.about-info{
  padding: 120px 0;
  &__inner{
    display: flex;
    align-items: center;
  }
  &__content{
    padding-left: 45px;
    color: $accent;
    max-width: 555px;
  }
  &__experieance{
    display: flex;
    align-items: flex-end;
    margin-bottom: 45px;
  }
  &__experieance-col{
    @extend %rubik-500;
    font-size: 140px;
    line-height: 130px;
    color: $btn;
  }
  &__experieance-items{
    padding-left: 30px;
  }
  &__experieance-item{
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
    letter-spacing: -0.3px;
  }
  &__discr__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  &__discr__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.8px;
    margin-bottom: 50px;
  }
  &__static{
    display: flex;
    align-items: center;
    padding-top: 45px;
    border-top: 2px solid #e6eaf0;
  }
  &__discr__item{
    padding: 10px 24px 16px 0;
    @extend %dmsans-700;
    display: flex;
    align-items: center;
    margin-left: 22px;
    border-right: 1px solid #e6eaf0;
    &:last-child{
      padding-right: 0;
      border-right: none;
    }
    &:first-child{
      margin-left: 0;
    }
  }
  &__discr__item-content{
    padding-left: 15px;
  }
  &__discr-col{
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.5px;
  }
  &__discr__word{
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
    letter-spacing: -0.5px;
  }
}
.about-line-info{
  padding: 80px 0;
  background-color: #fcd7b6;
  &__inner{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    max-width: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    @extend %dmsans-700;
    color: $accent;
  }
  &__img-inner{
    margin-bottom: 22px;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      background-image: url(../images/about/icons/ellipse.png);
      width: 35px;
      height: 35px;
      border-radius: 50%;
      top: 28px;
      right: -12px;
      opacity: .9;
    }
  }
  &__title{
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  &__text{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.8px;
  }
}
.about-team{
  padding: 120px 0 50px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 300px;
    color: $accent;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 16px;
    @extend %rubik-400;
    letter-spacing: -0.1px;
    line-height: 30px;
    margin-bottom: 70px;
  }
  &__link{
    padding: 20px 60px 20px 20px;
    background-color: $btn;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    @extend %poppins-700;
    line-height: 18px;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    &:after{
      content: "";
      position: absolute;
      background-image: url(../images/about/icons/arrow.png);
      width: 15px;
      height: 11px;
      top: 50%;
      transform: translateY(-50%);
      right: 22px;
    }
    &:hover{
      transform: translateX(5px);
    }
  }
  &__images{
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
  }
  &__img{
    display: block;
    position: relative;
    z-index: 1;
  }
  &__info{
    padding: 30px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 325px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    z-index: 5;
    margin-top: -50px;
  }
  &__people-img{
    display: block;
  }
  &__name{
    @extend %dmsans-700;
    font-size: 22px;
    color: #436372;
    line-height: 26px;
    margin-bottom: 15px;
  }
  &__work{
    @extend %rubik-400;
    font-size: 16px;
    color: #565872;
    line-height: 18px;
  }
  &__links{
    display: flex;
    max-width: 90px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__people-link{
    height: 40px;
    width: 40px;
    background-color: #f6f6f6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
.shop{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    width: 270px;
    margin-right: 30px;
  }
}
.filter{
  &__title{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    @extend %dmsans-700;
    color: $accent;
    position: relative;
    padding-right: 70px;
    display: inline-block;
    margin-bottom: 30px;
    &::after{
      position: absolute;
      content: "";
      height: 3px;
      width: 38px;
      background-color: #a3bbc8;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
  .filter-price{
    margin-bottom: 80px;
    &__label{
      display: flex;
      justify-content: space-between;
      @extend %rubik-400;
      font-size: 14px;
      color: #243f4d;
      line-height: 18px;
    }
  }
}
.irs--flat {
  height: 31px;
}
.irs--flat .irs-line {
  top: 6px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 0;
}
.irs--flat .irs-handle {
  top: 0px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}
.irs--flat .irs-handle>i:first-child {
  display: none;
}
.irs--flat .irs-bar {
  top: 5px;
  height: 5px;
  background-color: #a3bbc8;
}
.irs-from, .irs-to, .irs-single {
 display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}
.filter-category{
  margin-bottom: 40px;
  &__form{
    margin-bottom: 5px;
  }
  &__label{
    display: flex;
    align-items: center;
    margin-bottom: 1px;
  }
  &__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
    padding: 15px 20px 15px 15px;
    background-color: transparent;
    transition: all .3s;
  }
  &__input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .filter-category__box{
      background-color: #edf1f4;
      & .filter-category__number{
        color: #243f4d;
      }
    }
  }
  &__text{
      color: #243f4d;
      font-size: 16px;
      @extend %rubik-400;
      line-height: 18px;
      position: relative;
      display: block;
      width: 100%;
      &::after{
        position: absolute;
        content: "";
        background-image: url(../images/icons/filter-arrow.svg);
        height: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 6px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__brand__text{
      color: #243f4d;
      font-size: 16px;
      @extend %rubik-400;
      line-height: 18px;
    }
    &__number{
      color: #b3b3b3;
      font-size: 16px;
      @extend %rubik-400;
      line-height: 18px;
    }
  }
.filter-brand{
  margin-bottom: 40px;
  &__input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }
}
.recent-products{
  &__inner{
    padding-top: 10px;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  &__img-link{
    display: flex;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    border: 3px solid #f2f2f2;
    padding: 3px;
  }
  &__img{
    object-fit: cover;
  }
  &__content{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title-link{
    display: block;
    margin-bottom: 6px;
  }
  &__title{
    @extend %rubik-400;
    font-size: 14px;
    color: #333333;
    line-height: 18px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 15px;
    color: #333333;
    line-height: 16px;
  }
}
.star{
  padding: 0;
  margin-bottom: 8px;
}
.shop-content{
  width: 100%;
  &__filter{
    border: 2px solid #a3bbc8;
    padding: 5px 10px 5px 15px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__filter-buttons{
    font-size: 16px;
    @extend %rubik-400;
    line-height: 18px;
    color: #a3bbc8;
    display: flex;
    align-items: center;

  }
  &__filter-btn{
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0px;
    cursor: pointer;
    &.shop-content__filter-btn--active svg{
      path{
        fill: #3e5763;
      }
    }
  }
}
.jq-selectbox {
  vertical-align: top;
}
.jq-selectbox__select {
  height: 28px;
  margin-left: 30px;
  padding: 0 30px 0 0;
  border: none;
  background: transparent;
  box-shadow: none;
  font: 14px/32px Arial, sans-serif;
  color: #a3bbc8;
  @extend %rubik-400;
  text-shadow: none;
  &:hover{
    background: transparent;
  }
}
.jq-selectbox__dropdown {
  border-radius: 0;
  box-shadow: none; 
  @extend %rubik-400;
}
.jq-selectbox__trigger {
  border-left: none;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 10px;
  height: 5px;
  border: none;
  background-image: url(../images/icons/selected-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@import 'media';