<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/login.min.css">
</head>

<body>
  {% include 'app/module/header/header.html' %}
  <main class="main">
    <section class="breadcrumbs__wrapper">
      <h2 class="breadcrumbs__title">
        Log in
      </h2>
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Home
            </a>
          </li>

          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Log in
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="modal">
      <div class="container">
        <form class="modal__form" action="#">
          <label class="modal__label">
            Username or email address *
            <input class="modal__input" type="text" required>
          </label>
          <label class="modal__label">
            Password *
            <input class="modal__input" type="password" required>
          </label>
          <button class="modal__btn" type="submit">Login</button>
          <div class="modal__inner">
            <label class="modal__inner-label">
              <input class="" type="checkbox" required>
              Remember me
            </label>
            <a class="modal__link" href="#">Lost your password?</a>
          </div>
          <div class="modal__info">
            <p class="modal__text">Not registered? No problem</p>
            <a class="modal__info-link" href="#">Create an account</a>
          </div>
        </form>
      </div>
    </section>
    {% include 'app/module/partners/partners.html' %}
  </main>
   {% include 'app/module/footer/footer.html' %}
  



  <script src="js/main.min.js"></script>
</body>

</html>